<div class="navContainer">
    <a href="/">
        <button type="button" class="btn btn-outline-primary">Home</button>
    </a>
    <a href="/saved">
        <button type="button" class="btn btn-outline-primary">Saved</button>
    </a>
    <a href="/scrape">
        <button type="button" class="btn btn-outline-primary" id="scrapeButton">Scrape More Articles!</button>
    </a>

</div>